require 'test_helper'

<% module_namespacing do -%>
class <%= class_name %>Test < ActiveSupport::TestCase
  test 'valid fixture' do
    assert_valid_fixture <%= plural_table_name %>
  end
end
<% end -%>
