<div id='remote-form'>
  <%= bootstrap_form_for @requirement, url: @requirement.new_record? ? admin_requirements_path : admin_requirement_path(@requirement), remote: true, layout: :horizontal do |f| %>
    <%= render 'form_fields', f: f %>
    <div class='remote-form__actions'>
      <% unless @requirement.new_record? %>
        <%= link_to admin_requirement_path(@requirement), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(@requirement.name), title: t_crud('delete', Requirement) do %>
          <i class="demo-icon icon-trash-empty text-danger" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
