<%
  breadcrumb t('my_clubs') => nil
%>
<div class='d-flex flex-column flex-md-row'>
  <div class='card m-2'>
    <div class='card-body'>
      Join some club to keep informed for new happenings.
      You can create your own club.
    </div>
  </div>
</div>
