<div id='remote-form'>
  <%= bootstrap_form_for @activity_club, url: admin_club_activity_clubs_path(@activity_club.club), remote: true, layout: :horizontal do |f| %>
    <%= f.select :activity_id, options_from_collection_for_select(Activity.all.where.not(id: @activity_club.club.activities), :id, :name, f.object.activity_id) %>
    <div class='remote-form__actions'>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
