<%
  breadcrumb t('dashboard') => nil
%>
<ul>
  <li>
    <%= link_to 'sample-error', sample_error_path %>
  </li>
  <li>
    <%= link_to 'sample-error-in-javascript', sample_error_in_javascript_path %>
  </li>
  <li>
    <%= link_to 'sample-error-in-sidekiq', sample_error_in_sidekiq_path %>
  </li>
  <li>
    <%= link_to 'sidekiq', sidekiq_web_path %>
  </li>
</ul>
