<% I18n.available_locales.each do |locale| %>
  <p>
    <%= link_to set_locale_path(locale: locale), 'data-turbolinks': false do %>
      <%= t 'emoji', locale: locale %>
      <%= t('language_name', locale: locale) %>
    <% end %>
  </p>
<% end %>
