<div id='remote-form'>
  <%= bootstrap_form_for @user, url: my_account_path, remote: true, layout: :horizontal do |f| %>
    <%= f.text_field :name %>
    <div class='remote-form__actions'>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
