<div id='remote-form'>
  <%= bootstrap_form_for @discipline_requirement, url: admin_discipline_discipline_requirements_path(@discipline_requirement.discipline), remote: true, layout: :horizontal do |f| %>
    <%= f.select :requirement_id, options_from_collection_for_select(Requirement.all.where.not(id: @discipline_requirement.discipline.requirements), :id, :name, f.object.requirement_id) %>
    <div class='remote-form__actions'>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
