<%= link_to t('terms'), terms_path %> |
<%= link_to t('about'), about_path %> |
<%= link_to t('cookies'), cookies_path %>

<h1>About Us</h1>

We are a small company TRK INOVACIJE DOO Novi Sad interested in organizing sport events for recreation.

