<% login_layout %>

<dl>
  <dt>Naziv događaja</dt>
  <dd>Fruškogorski maraton</dd>
  <dt>Gde</dt>
  <dd>Popovica</dd>
  <dt>Vreme početka</dt>
  <dd>U subotu 4.5.2019 u 9h</dd>
  <dt>Naziv discipline</dt>
  <dd>Mali Istočni Ekstremni maraton</dd>
  <dt>Dužina staze</dt>
  <dd>42km</dd>
  <dt>Usponi i silasci</dt>
  <dd>2km</dd>
  <hr>
  <dt>Maksimalno vreme</dt>
  <dd>12 sati</dd>
  <dt>Oprema</dt>
  <dd>Odeća, obuća</dd>
  <dt>Dokumenta</dt>
  <dd>
    <span class='badge badge-info'>
      Takmičarska knjižica
    </span>
    ili
    <span class='badge badge-info'>
      Lekarsko uverenje
    </span>

  </dd>
</dl>
