<h3>
  Da li ste znali da se na Štrandu u Novom Sadu u nedelju 8.9.2019 u 9h održava triatlon ?
</h3>

<h4>
  Ne zaboravite da na njemu mogu ucestvovati deca na mini triatlonu (50m plivanja, 2km bicikla i 0.5km trčanja)
</h4>
