<%= link_to t('terms'), terms_path %> |
<%= link_to t('about'), about_path %> |
<%= link_to t('cookies'), cookies_path %>
<br><br>

<h1>Terms</h1>
This software is brought to you by MoveBase ©.
<br><br>
In order to use this portal you have to supply a valid email address so that an account can be created for you. Without a complete account you cannot complete a registration.
<br><br>

All your data is kept private unless explicitly specified. MoveBase © reserves the right to publish your full name in the public lists like race results, list of registrations...

<br><br>
MoveBase © shall be exclusively responsible for contents which are produced, published and distributed by itself.

<br><br>
Portal MoveBase © can accept no responsibility for possible errors in printed material. Portal MoveBase © reserves the right to alter its contents without notice. All trademarks in this Portal are property of the respective companies. MoveBase’s logotype is a trademark of Portal MoveBase ©. All rights reserved.
For law nerds

<br><br>
Scope of application
<br><br>
MoveBase © shall be exclusively responsible for contents which are produced, published and distributed by itself. The terms of use shall apply to the contents of the websites movebase.link and to all subdomains pertaining to this domains (hereinafter termed web products of MoveBase).

<br><br>
Liability
<br><br>
MoveBase shall be liable neither for contents and programmes distributed on the web products of MoveBase, nor for damage resulting therefrom. This shall apply to all kinds of damage, especially damage that can arise from errors, delays or interruptions in transmission, in the event of disruptions of technical systems and service, incorrect contents, loss or deletion of data, viruses or in any other manner during the use of these web products. MoveBase may add links to third party pages or services for information purposes. In this case MoveBase shall not assume any responsibility for the contents, possible errors, lawfulness and functionality of Internet pages of third parties, to which reference is made by means of links or tools by the web products of MoveBase. Retrieving pages or services by means of links shall be at the user’s own risk.

<br><br>
Copyright
<br><br>
The contents of the web products of MoveBase shall enjoy copyright protection pursuant to the prevailing copyright laws. Use of the material provided shall be permitted solely with explicit permission. All additional rights shall remain with MoveBase. For example, the sale and all commercial use in particular shall be inadmissible. MoveBase shall not be liable for disruptions in the quality of access due to force majeure or events for which MoveBase is not responsible, especially the failure of communication networks and gateways. MoveBase shall not assume any guarantee for the functioning of the Internet page without interruptions and faults.
Right of use of other content
MoveBase shall retain the unrestricted rights of use for all content (texts, photographs, videos, etc.), which is loaded electronically onto the MoveBase website by users. In particular, this information can be used on the MoveBase website and in MoveBase newsletters. In this context, MoveBase cannot be made responsible for copyright violations.

<br><br>
Data protection
<br><br>
MoveBase sets great store by the protection of the privacy of all people. Please take note in this regard of the data protection declaration below.

<br><br>
Scope of application
<br><br>
The data protection declaration shall apply to the websites movebase.link (including online registration, starting lists, ranking lists, online certificates, etc). No guarantee shall be assumed for the observation of the data protection provision for Internet products of third parties to which reference is made on this page by means of tools and links.

<br><br>
Principle
<br><br>
In principle, you may use the page without having to provide personal information. During visits MoveBase can only register impersonal usage data. The IP address of your computer or network, the last page visited, the browser used, date, time and downloaded files can be recorded in the so-called log files. They are collected for the purpose of analysing user behaviour and basically serve to optimise our product. They do not permit any inferences to be drawn about you personally.

<br><br>
Statement and use of personal information
<br><br>
You may only use certain products on the page if you provide personal information. For some products statement of your e-mail address is sufficient (e.g. newsletter), for other services, we require from you the statement of name/first name, address, telephone number and e-mail address. Use of online registration with payment requires compulsory registration including provision of personal data. As a collection agency MoveBase is obliged by law to be able to document all transactions in an understandable manner during set legal periods. We shall handle your personal data pursuant to the current data protection law. This means MoveBase shall undertake to use your personal information with due care and solely for the purposes indicated. MoveBase has the right to use the postal address, the mail address and the phone number for the delivery of information about events, products, services and other offers. You may at all times correct or restrict the use of the personal information entrusted to us. You may either do this yourself in the profile management or you may call on us to do so (e-mail, fax or letter). MoveBase provides a personal result overview as a free service. The result overview can be publicly retrieved on the Internet (MoveBase homepage, MoveBase app) in the result search. Publication of the personal result overview can be suppressed by the person involved. Written notification by post, fax or e-mail is sufficient.

<br><br>
Online registration on behalf of event organizers
MoveBase shall offer the registration, including payment of starting fees, for sport events. This service shall occur in the name of and on behalf of the respective organisers. The online registration shall be understood legally as the conclusion of an agreement between the athlete and the particular organiser of the event. The basis for this agreement shall be the set of rules or general terms and conditions of the organiser. MoveBase shall not be a contractual partner and shall not be obliged to refer to these conditions in detail. By concluding the online registration and carrying out the payment the user shall accept the set of rules of the organiser. The event organiser shall possess all rights to the personal information of the athlete recorded. The rights of use shall be determined pursuant to the set of rules or general terms and conditions of business of the organiser. To limit these rights of use, please contact the respective organiser directly. The funds collected in connection with an online registration shall at all times be the property of the organiser. MoveBase shall have no power to dispose of these funds. The organiser shall be responsible for the tax qualification of the funds collected. All the statements above shall apply to all additional services, which are offered, handled and charged in connection with the online registration in the name of and on behalf of partners. Should a user carry out a registration in the name of and on behalf of third parties, MoveBase and the event organiser involved may assume that the persons involved have agreed to the registration and that they accept the set of rules of the organiser in full.

<br><br>
Presentation of information on behalf of third parties
<br><br>
MoveBase shall present various information on behalf of third parties, especially the organisers of sport events. This shall in particular affect the presentation of starting lists, ranking lists, certificates, photos, videos and links to other websites with corresponding information. MoveBase shall act in the name of and on behalf of the organiser and cannot be held responsible for the contents and for any errors. Compliance with the data protection provisions shall at all events be the responsibility of the client.

<br><br>
Collection and administration of telephone numbers
<br><br>
MoveBase may offer SMS services in the name of and on behalf of event organisers or their partners. The registration of telephone numbers shall occur in the personal user profile or in a special registration application on the MoveBase website. The registered telephone numbers shall be used for the delivery of welcome, information and congratulation SMS in connection with the event. Under no circumstances shall advertising SMS be sent. The sponsor of the SMS service may be mentioned in the SMS text. Following the event the telephone number shall be archived for the purposes of legal accountability. However, they shall not under any circumstances be passed on to the client or third parties or otherwise used. Organizer may use this number to contact the user in regard of the event. Organizer is liable for handling with this telephone numbers.

<br><br>
Identification of visitors
<br><br>
Occasionally information may be stored on your computer with which you can be identified. Such information is described as “cookies”. These text files stored on your hard disk do not contain any personal information, but facilitate your use of our Internet pages: thanks to the cookies, we can supply you with the personalised contents desired without your having to register anew on every visit. You can configure your browser so that a warning appears before the storage of a cookie. Or you can in general reject cookies. However, in this case particular services cannot be used.

<br><br>
Security
<br><br>
The provision of personal information via the Internet always involves risks and no technical system is completely secure against manipulation or sabotage. MoveBase shall attempt to a reasonable extent to take measures to hinder unauthorised access to your personal information and the unauthorised use or falsification of this information and to minimise the corresponding risks.

<br><br>
Amendments
<br><br>
MoveBase is continually expanding its product line. At the same time we check whether supplements to or amendments of the data protection declaration are necessary. MoveBase may adjust these rules or the content of the page at any time – also without prior announcement – or amend or block access to the page. We shall publish any modifications on this page.

<br><br>
Data protection
<br><br>
MoveBase sets great store by the protection of the privacy of all people. Please take note in this regard of the data protection declaration below.

<br><br>
Private data ownership
<br><br>
Every user is owner of their private data entered to the Portal MoveBase ©.

<br><br>
The user has the right to request from Portal MoveBase © to delete all respective private data. In that case Portal MoveBase © cannot deliver any of its services to the respective user.
