<%#
  f - form builder
  disabled - default is false
%>
<%
  disabled ||= false
%>
<div
  data-controller='google-map-address'
  data-action='
  googleMapAddressInitMap@window->google-map-address#googleMapAddressInitMap
  googleMapAddressDragend@window->google-map-address#googleMapAddressDragEnd
  googleMapAddressPlaceChanged@window->google-map-address#googleMapAddressPlaceChanged
  '
  >
  <%= f.text_field :name, disabled: disabled %>
  <%= f.text_field :address, 'data-target': 'google-map-address.address', disabled: disabled %>
  <%= f.hidden_field :latitude, 'data-target': 'google-map-address.latitude', disabled: disabled %>
  <%= f.hidden_field :longitude, 'data-target': 'google-map-address.longitude', disabled: disabled %>
  <div class='map map--300px' data-target='google-map-address.map'></div>
</div>
