<%
  breadcrumb Venue.model_name.human(count: 2) => nil
%>

<%= button_tag_open_modal new_venue_path do %>
  <i class="demo-icon icon-plus" aria-hidden="true"></i>
  <%= t_crud('add_new', Venue) %>
<% end %>
<br>
<% @venues.each do |venue| %>
  <div>
    <%= link_to venue.name, venue_path(venue) %>
  </div>
  <br>
<% end %>
