<%%
  breadcrumb <%= class_name %>.model_name.human(count: 2) => nil
%>

<div class='float-left'>
  <%%= button_tag_open_modal new_<%= singular_route_name %>_path  do %>
    <i class="demo-icon icon-plus" aria-hidden="true"></i>
    <%%= t_crud('add_new', <%= class_name %>) %>
  <%% end %>
</div>
<%%= @datatable.render_html search_<%= plural_route_name %>_path(format: :json) %>
