// use element--max-width syntax so we know it is custom (not bootstrap class)
.login-logo--max-width
  max-width: 6rem

.login-wrapper--max-width
  max-width: 60rem

.login--max-width
  max-width: 30rem

.font-size--1-5
  font-size: 1.5rem

.flag--width
  width: 20px

.dropdown-menu--without-min-width
  min-width: initial

.android-app-play-store--max-width
  max-width: 10rem
  img
    width: 100%

.breadcrumb__image--max-width
  width: 20px
  // do not know why breacrumb text is so high so move the icon
  // position: relative
  // top: -5px

.left-navigation--min-width
  min-width: 10rem

.dt__long--min-width
  min-width: 12rem
